.env
.env.*
!.env.example

.DS_Store
._*

scratch_space/*
!scratch_space/README.md
!scratch_space/.gitkeep

.venv/
venv/
environment/.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

data/raw/*
data/interim/*
data/processed/*
data/external/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep
!data/**/*.dvc

results/models/*
results/predictions/*
!results/.gitkeep
!results/**/*.dvc
